/*lessons page*/
/*This code is to make the click on the mouse to have a smooth transition.*/
html {
    scroll-behavior: smooth;
}

/*This overflow is called to set what shows when content overflows. 
  The hidden is called on the property to set the visibity as hidden*/
body {    
    overflow-x: hidden; 
    font-family: 'Playfair Display SC', serif;
}

/*This affects every img in the lessons page*/
img {               
    width: 100%;    
}

/*This @media screen is so that if the web browser small enough, 
then the arrows will disappear as it's not needed if the entire thing appears.*/
@media screen and (max-width: 1000px) {
    #visible_top {
        display: none;
    }
    #visible_bottom {
        display: none;
    }
}

/*This id is called when visible top is clicked. The webpage goes to 0px as the position.*/ 
#up {
    position: absolute;
    top: 0px;
}

/*This id creates the positioning and size of the top arrow */
#visible_top {
    z-index: 20;
    position: absolute;
    top: 29vw;
    left: 45vw;
    opacity: 1;
    width: 10vw;
}

/*This id creates the positioning and size of the bottom arrow*/
#visible_bottom {
    z-index: 20;
    position: absolute;
    width: 10vw;    
    top: 180vw;           
    left: 45vw;
    opacity: 1;
}

/*This id is called when visible_bottom is clicked. It gets to the 145vw position.*/
#down {
    position: absolute;
    top: 145vw;
}

/*This div hover affects every picture*/
div {                           
    position: absolute;         
    opacity: 0;                 
    transition-duration: 5s;    
}

/*This div hover affects every picture*/
div:hover {                       
    opacity: 1;                   
    transition-duration: 0.3s;    
}

/*black and white background image*/
.lessons_background {       
    width: 100vw;          
    top: 0vw;              
    left: 0vw;             
    opacity: 1;            
}

/*how_to_art navbar*/
.how_to_art {            
    width: 29.51vw;     
    top: 1.8vw;       
    left: 6.2vw;         
}

/*about narbar*/
.about {               
    width: 18.27vw;      
    top: 1.75vw;         
    left: 34vw;       
}

/*lessons navbar*/
.lessons {               
    width: 15vw;       
    top: 1.2vw;          
    left: 51.2vw;        
}

/*instant_inspo navbar*/
.instant_inspo {         
    width: 17.20vw;      
    top: 0.85vw;          
    left: 63.5vw;        
}

/* gallery navbar*/
.gallery {            
    width: 18.75vw;    
    top: 0.8vw;          
    left: 78.75vw;        
}

/*title image*/
.title {            
    width: 47.25vw;    
    top: 8.7vw;          
    left: 27.4vw;        
}

/*content1 image*/
.content1 {               
    width: 91.6vw;    
    top: 20.2vw;          
    left: 4.1vw;        
}

/*content2 image*/
.content2 {               
    width: 90.2vw;    
    top: 30.8vw;          
    left: 4.65vw;        
}

/*content3 image*/
.content3 {         
    width: 90.5vw;    
    top: 41.6vw;          
    left: 5.9vw;        
}

/*content4 image*/
.content4 {            
    width: 92.6vw;    
    top: 52.57vw;          
    left: 6.05vw;        
}

/*content5 image*/
.content5 {            
    width: 91.7vw;    
    top: 74.6vw;          
    left: 5.9vw;       
}

/*content6 image*/
.content6 {               
    width: 94.35vw;    
    top: 88.5vw;         
    left: 4.55vw;       
}

/*content7 image*/
.content7 {               
    width: 94.8vw;    
    top: 115vw;          
    left: 4.55vw;        
}

/*text about pop art lessons*/
.popart_text {
    z-index: -10;
    opacity: 0;
}

/*set the text for pop art lessons to invisible*/
.popart_text:hover{
    z-index: -10;
    opacity: 0;
}

/*rainbow image*/
.rainbow {            
    width: 96.8vw;    
    top: 146.9vw;          
    left: 1.3vw;        
}

/*this is for all pop_art_works*/
.pop_art_works {
    width: 0vw;
}

/*This is the instruction text*/
h2 {
    position : absolute;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    width: 45vw;
    top: 143vw;
    left:30vw;
    color:black;
    background-color: azure;
    z-index: 100;
    opacity: 1;
}

/*maybe_rotated image*/
.maybe_rotated {            
    width: 20.6vw;        
    top: 161.95vw;           
    left: 8.55vw;           
    z-index: 10;           
}

/*maybe image*/
.maybe {
    position: absolute;
    width: 7.02vw;        
    top: 167.9vw;            
    left: 14.5vw;          
    z-index: 0;
    opacity: 0;
    transform: rotate(45deg);
    transition-duration: 0.1s;
}

/*text under the "maybe" popart*/
.text_maybe {
    opacity:0;
    transition-duration: 0s; 
    width: 30vw;
}

/*makes the text for "maybe" popart hover invisible*/
.text_maybe:hover {
    opacity: 0;
}

/*Text zoom in on the "maybe" popart when maybe_rotated is clicked*/
.maybe_rotated:active > .text_maybe {   
    text-align: center;
    top: 20vw;                  
    left: 25.5vw;
    background-color: azure;
    opacity: 1;
    transition-duration: 1s;
}

/*rotate and zoom in the maybe image when maybe_rotated is clicked*/
.maybe_rotated:active + .maybe {       
    width: 30vw;               
    top: 152vw;                 
    left: 34vw;                 
    z-index: 15;
    opacity: 1;
    transform: rotate(0deg);
    transition-duration: 1s;
}

/*frida_rotated image*/
.frida_rotated {                    
    width: 14vw;        
    top: 153.1vw;           
    left: 27.6vw;           
    z-index: 10;           
}

/*frida image*/
.frida {
    position: absolute;
    width: 7.02vw;       
    top: 157vw;           
    left: 31vw;         
    z-index: 0;
    opacity: 0;
    transform: rotate(3deg);
    transition-duration: 0.1s;
}

/*text under the "frida" popart*/
.text_frida {
    opacity:0;
    transition-duration: 0s; 
    width: 25vw;
}

/*makes the text for "frida" popart hover invisible*/
.text_frida:hover {
    opacity: 0;
}

/*Text zoom in on the "frida" popart when frida_rotated is clicked*/
.frida_rotated:active > .text_frida { 
    text-align: center;
    top: 28vw;                  
    left: 8vw;
    background-color: azure;
    opacity: 1;
    transition-duration: 1s;
}

/*rotate and zoom in the frida image when frida_rotated is clicked*/
.frida_rotated:active + .frida {     
    width: 25vw;                
    top: 150vw;                  
    left: 35.5vw;                 
    z-index: 15;
    opacity: 1;
    transform: rotate(0deg);
    transition-duration: 1s;
}

/*in_the_car_rotated image*/
.in_the_car_rotated {                    
    width: 25.92vw;        
    top: 165.75vw;           
    left: 37.9vw;           
    z-index: 10;           
}

/*in_the_car image*/
.in_the_car {
    position: absolute;
    width: 12.02vw;        
    top: 172vw;            
    left: 45vw;          
    z-index: 0;
    opacity: 0;
    transform: rotate(15deg);
    transition-duration: 0.1s;
}

/*text under the "in_the_car" popart*/
.text_in_the_car {
    opacity:0;
    transition-duration: 0s; 
    width: 30vw;
}

/*makes the text for "in_the_car" popart hover invisible*/
.text_in_the_car:hover {
    opacity: 0;
}

/*Text zoom in on the "in_the_car" popart when in_the_car_rotated is clicked*/
.in_the_car_rotated:active > .text_in_the_car { 
    text-align: center;
    top: 11.5vw;                  
    left: -3.9vw;
    background-color: azure;
    opacity: 1;
    transition-duration: 1s;
}

/*rotate and zoom in the "in_the_car" image when in_the_car_rotated is clicked*/
.in_the_car_rotated:active + .in_the_car {     
    width: 30vw;                
    top: 157vw;                  
    left: 34vw;                  
    z-index: 15;
    opacity: 1;
    transform: rotate(0deg);
    transition-duration: 1s;
}

/*varoom_rotated image*/
.varoom_rotated {                   
    width: 15.98vw;        
    top: 150.6vw;           
    left: 51.5vw;          
    z-index: 10;           
}

/*varoom image*/
.varoom {
    position: absolute;
    width: 7.02vw;        
    top: 155vw;            
    left: 55.1vw;          
    z-index: 0;
    opacity: 0;
    transform: rotate(2deg);
    transition-duration: 0.1s;
}

/*text under the "varoom" popart*/
.text_varoom {
    opacity:0;
    transition-duration: 0s; 
    width: 25vw;
}

/*makes the text for "varoom" popart hover invisible*/
.text_varoom:hover {
    opacity: 0;
}

/*Text zoom in on the "varoom" popart when varoom_rotated is clicked*/
.varoom_rotated:active > .text_varoom { 
    text-align: center;
    top: 29.5vw;                  
    left: -15.7vw;
    background-color: azure;
    opacity: 1;
    transition-duration: 1s;
}

/*rotate and zoom in the varoom image when varoom_rotated is clicked*/ 
.varoom_rotated:active + .varoom {      
    width: 25vw;                
    top: 155vw;                 
    left: 35.8vw;                  
    z-index: 15;
    opacity: 1;
    transform: rotate(0deg);
    transition-duration: 1s;
}

/*shot_marilyns_rotated image*/
.shot_marilyns_rotated {                   
    width: 22.71vw;        
    top: 159vw;          
    left: 73vw;          
    z-index: 10;           
}

/*shot_marilyns image*/
.shot_marilyns {
    position: absolute;
    width: 11vw;        
    top: 165vw;            
    left: 78vw;          
    z-index: 0;
    opacity: 0;
    transform: rotate(340deg);
    transition-duration: 0.1s;
}

/*text under the "shot_marilyns" popart*/
.text_shot_marilyns {
    opacity:0;
    transition-duration: 0s; 
    width: 25vw;
}

/*makes the text for "shot_marilyns" popart hover invisible*/
.text_shot_marilyns:hover {
    opacity: 0;
}

/*Text zoom in on the "shot_marilyns" popart when shot_marilyns_rotated is clicked*/
.shot_marilyns_rotated:active > .text_shot_marilyns {  
    text-align: center;
    top: 21vw;                  
    left: -37.5vw;
    background-color: azure;
    opacity: 1;
    transition-duration: 1s;
}

/*rotate and zoom in the shot_marilyns image when shot_marilyns_rotated is clicked*/
.shot_marilyns_rotated:active + .shot_marilyns {    
    width: 25vw;                
    top: 155vw;                  
    left: 35.5vw;               
    z-index: 15;
    opacity: 1;
    transform: rotate(360deg);
    transition-duration: 1s;
}